.contact-preview {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgba($color: #000000, $alpha: .3);
    .info{
        display: flex;
        align-items: center;
        flex-direction: row;
    }
    img{
        width: 100px;
        border-radius: 50%;
        border: 1px solid rgba($color: #000000, $alpha: .3);
    }

    .actions{
        display: flex;
        gap:12px;
        .btn-delete{
            @include cmn-btn($red);
        }
        .edit{
            @include cmn-btn($yellow);
            height: 38px;
        }
        .details{
            @include cmn-btn($blue);
            height: 38px;
        }
    }
}